/* General Styling */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #151515;
  color: #fff;
  font-family: "Space Grotesk", sans-serif;
  min-height: 100vh;
  width: 100%;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Typography */

.header--logo {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: -0.1rem;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: -1.2px;
}

h1 span {
  position: relative;
}

h1 span::after {
  content: "";
  height: 4px;
  width: 100%;
  background-color: #4ee1a0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

h2 {
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: -1.2;
  margin: 0;
}

h3 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.33;
  margin: 0.85em 0 0.35em;
  text-transform: uppercase;
}

p {
  font-weight: 500;
  line-height: 1.62;

  color: #d9d9d9;
}

.cta {
  font-weight: 700;
  line-height: 1.62;
  letter-spacing: 2.3px;
  text-transform: uppercase;
  border-bottom: 2px solid #4ee1a0;
  padding-bottom: 0.5em;
}

/******* Layout *******/

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 1.125em 1em;
  position: relative;
  /* border: 1px solid blue; */
}

/* Header Section */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  max-width: 340px;
}

.header--nav {
  width: 50%;
  max-width: 175px;
  display: flex;
  justify-content: space-between;
  margin-top: 1.25em;
}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero--photo {
  order: -1;
  width: 55%;
  margin: 0 auto;
}

.hero .cta {
  margin: 1.5em auto 0;
  width: 7.5em;
}

/* Skills Section */

.skills {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-top: 5em;
  padding: 2.5em 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.skill--head {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: -1px;
  color: #ffffff;
}

/* Projects Section */

.projects {
  margin-top: 5em;
}

.projects--head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects--grid {
  margin-top: 2.5em;
}

.project {
  margin-top: 2.5em;
}

.project--tools {
  display: flex;
  gap: 0.5em;
}

.project--actions {
  display: flex;
  gap: 1em;
  margin-top: 1.25em;
}
