/******
 Base Styling
******/

* {
  box-sizing: border-box;
  margin: 0;
}

/* Variables */

:root {
  /* Text */
  --heading-xxl: 700 88px/1 "Space Grotesk";
  --heading-xl: 700 72px/1 "Space Grotesk";
  --heading-l: 700 40px/1 "Space Grotesk";
  --heading-m: 700 32px/1.33 "Space Grotesk";
  --heading-s: 700 24px/1.33 "Space Grotesk";
  --body-l: 500 18px/1.55 "Space Grotesk";
  --body-m: 500 16px/1.55 "Space Grotesk";

  /* Color */
  --primary-light: #4ee1a0;
  --primary-dark: #242424;
  --neutral-light: #fff;
  --neutral-mid: #d9d9d9;
  --neutral-dark: #151515;
}

body {
  background: var(--neutral-dark);
  color: var(--neutral-light);
  font-family: "Space Grotesk", sans-serif;
  min-height: 100vh;
  width: 100%;
}

img {
  width: 100%;
}

button {
  border: none;
  background: none;
  color: var(--neutral-light);
  font: var(--body-m);
  cursor: pointer;
}

/******
 Typography 
******/

h1 {
  font: var(--heading-l);
  letter-spacing: -1.2px;
}

h2 {
  font: var(--heading-l);
  letter-spacing: -1.2px;
}

h3 {
  font: var(--heading-m);
  letter-spacing: -1px;
}

h4 {
  font: var(--heading-s);
  text-transform: uppercase;
}

p {
  font: var(--body-m);
  color: var(--neutral-mid);
}

a {
  text-decoration: none;
  color: inherit;
}

.header--logo {
  font: var(--heading-m);
  letter-spacing: -0.1rem;
}

.cta {
  font-weight: 700;
  line-height: 1.62;
  letter-spacing: 2.3px;
  text-transform: uppercase;
  border-bottom: 2px solid var(--primary-light);
  padding-bottom: 0.5em;
}

/******* 
Layout 
*******/

.wrapper,
.bottom-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 1.125em 1em;
  position: relative;
  overflow-x: hidden;
}

.bottom-wrapper {
  background: var(--primary-dark);
}

/* Header Section */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.header--nav {
  width: 50%;
  max-width: 175px;
  display: flex;
  justify-content: space-between;
  margin-top: 1.25em;
}

/* Hero Section */

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1.5em;
}

.hero--photo {
  order: -1;
  width: 55%;
}

/* Skills Section */

section {
  margin-top: 3em;
  padding: 2em 0;
}

.skills {
  border-top: 1px solid var(--neutral-light);
  border-bottom: 1px solid var(--neutral-light);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

/* Projects Section */

.projects--head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project {
  margin-top: 2.5em;
}

.project--title {
  margin: 0.75em 0 0.25em;
}

.project--tools {
  display: flex;
  gap: 0.5em;
}

.project--actions {
  display: flex;
  gap: 1em;
  margin-top: 1.25em;
}

/* Contact Section */

.contact {
  text-align: center;
  margin-top: 2.5em;
  padding: 0 0 3.75em;
  display: flex;
  flex-direction: column;
  gap: 1.25em;
}

.contact--text {
  margin-top: 1.25em;
}

.contact--form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact--form label {
  visibility: hidden;
}

.contact--form input,
.contact--form textarea {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--neutral-light);
  background: none;
  padding: 0.5em 1.5em 2em;
  margin-bottom: 2em;
  letter-spacing: -0.25;
  color: var(--neutral-light);
  font-weight: 500;
}

.form--btn {
  margin: 2em 1em 0 auto;
}

/* Footer Section */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--neutral-light);
  padding: 2.5em 0;
  gap: 1.5em;
}

.footer--nav {
  display: flex;
  gap: 1.5em;
}

/******
 Decoration 
******/

.hero--author {
  position: relative;
}

.hero--author::after {
  content: "";
  height: 4px;
  width: 100%;
  background-color: #4ee1a0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.hero--ring {
  position: absolute;
  width: 530px;
  height: 129px;
  left: -340px;
  top: 175px;
  opacity: 0.75;
  z-index: -1;
}

.hero--circle {
  position: absolute;
  width: 129px;
  height: 129px;
  left: 311px;
  top: 300px;
  opacity: 0.75;
  z-index: -1;
}

.skills--ring {
  position: absolute;
  width: 530px;
  height: 129px;
  left: 225px;
  top: 1275px;
  opacity: 0.65;
  z-index: -1;
}

.contact--ring {
  position: absolute;
  width: 530px;
  height: 129px;
  left: -348px;
  top: 470px;
  opacity: 0.65;
}
