/* General Styling */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #151515;
  color: #fff;
  font-family: "Space Grotesk", sans-serif;
  min-height: 100vh;
  width: 100%;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Typography */

.header--logo {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: -0.1rem;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: -1.2px;
}

h1 span {
  position: relative;
}

h1 span::after {
  content: "";
  height: 4px;
  width: 100%;
  background-color: #4ee1a0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

h2 {
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: -1.2;
  margin: 0;
}

h3 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.33;
  margin: 0.85em 0 0.35em;
  text-transform: uppercase;
}

p {
  font-weight: 500;
  line-height: 1.62;

  color: #d9d9d9;
}

.btn {
  border: none;
  background: none;
  color: #fff;
  font-family: "Space Grotesk";
  font-size: 1rem;
  cursor: pointer;
}

.cta {
  font-weight: 700;
  line-height: 1.62;
  letter-spacing: 2.3px;
  text-transform: uppercase;
  border-bottom: 2px solid #4ee1a0;
  padding-bottom: 0.5em;
}

/******* Layout *******/

.wrapper,
.bottom-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 1.125em 1em;
  position: relative;
  overflow-x: hidden;
}

.bottom-wrapper {
  background: #242424;
}

/* Header Section */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  max-width: 340px;
}

.header--nav {
  width: 50%;
  max-width: 175px;
  display: flex;
  justify-content: space-between;
  margin-top: 1.25em;
}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero--photo {
  order: -1;
  width: 55%;
  margin: 0 auto;
}

.hero .cta {
  margin: 1.5em auto 0;
  width: 7.5em;
}

.hero--ring {
  position: absolute;
  width: 530px;
  height: 129px;
  left: -340px;
  top: 175px;
  opacity: 0.75;
  z-index: -1;
}

.hero--circle {
  position: absolute;
  width: 129px;
  height: 129px;
  left: 311px;
  top: 300px;
  opacity: 0.75;
  z-index: -1;
}

/* Skills Section */

.skills {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-top: 5em;
  padding: 2.5em 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.skill--head {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: -1px;
  color: #ffffff;
  margin: 0;
}

.skill p {
  margin: 0;
}

.skills--ring {
  position: absolute;
  width: 530px;
  height: 129px;
  left: 225px;
  top: 1310px;
  opacity: 0.65;
  z-index: -1;
}

/* Projects Section */

.projects {
  margin-top: 5em;
}

.projects--head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects--grid {
  margin-top: 2.5em;
}

.project {
  margin-top: 2.5em;
}

.project--tools {
  display: flex;
  gap: 0.5em;
}

.project--actions {
  display: flex;
  gap: 1em;
  margin-top: 1.25em;
}

/* Contact Section */

.contact {
  text-align: center;
  margin-top: 2.5em;
  background: #242424;
  padding: 3.75em 0;
}

.contact--text {
  margin-top: 1.25em;
}

.contact-column {
  margin-top: 3.125em;
}

.contact--form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact--form label {
  visibility: hidden;
}

.contact--form input,
.contact--form textarea {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  background: none;
  padding: 0.5em 1.5em 2em;
  margin-bottom: 2em;
  letter-spacing: -0.25;
  color: #ffffff;
  mix-blend-mode: normal;
  font-weight: 500;
}

.form--btn {
  margin: 2em 1em 0 auto;
}

.contact--ring {
  position: absolute;
  width: 530px;
  height: 129px;
  left: -348px;
  top: 575px;
  opacity: 0.65;
}

/* Footer Section */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #fff;
  padding: 2.5em 0;
  gap: 1.5em;
}

.footer--nav {
  display: flex;
  gap: 1.5em;
}
